.App {
  background-color: #E8E8E8;
  min-height: 100vh;
}

.Dials{
  position: absolute;
  left: 82px;
  top: 76px;
}

.TargetTemp{
  position: absolute;
  left: 178px;
  top: 93px;
  text-align: center;
}

.CurrentTemp{
  position: absolute;
  left: 148px;
  top: 223px;
  text-align: center;
}

h1 {
  font-size:90px;
  color: white;
}

h2{
  font-size: 30px;
  color: white;
}